


   
   <div class="content-area">
    <div class="content-wrapper">
  
      <div class="row page-tilte align-items-center">
        <div class="col-md-auto">
          <h1 class="weight-300 h3 title">Add Banner</h1>
        </div>
      </div>
      <div class="content">
      
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                  <div class="login-form-wrapper">
                          <form action="/action_page.php" #form="ngForm"  (ngSubmit)="validation(form.value)" class="sn-form sn-form-boxed">
                           <div class="form-group">
                             <label class="font-weight-bold">bannerName</label>
                             <input type="text" id="bannerName" name="bannerName" class="form-control"  fromControlName="bannerName" placeholder="Enter bannerName" required ngModel>
                             <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                           </div>
                           <div class="form-group">
                             <label class="font-weight-bold">bannerArea</label>
                             <input type="text" id="bannerArea" name="bannerArea" class="form-control"  fromControlName="bannerArea" placeholder="Enter bannerArea" required ngModel>
                             <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                           </div>

                           <div class="form-group">
                                                      <button type="submit" id="" class="sn-button btn-block btn-lg">
                                                              <span>Add Banner</span>
                                                            </button>
                                                </div>

                                                


                    
                  </form> 
<a routerLink="/view-banner">ViewBanner</a>  
            </div>
        </div>
    </div>
      
          </div>
    </div> 













