RIGHT CONTENT AREA
<div class="content-area" style="margin-left: 7cm">
   <div class="content-wrapper">
 
     <div class="row page-tilte align-items-center">
       <div class="col-md-auto">
         <h1 class="weight-300 h3 title"><b>Add Banner</b></h1>
       </div>
     </div>
 
     <div class="content">
                 <div class="card">
                   
                     <div class="card-body">
                         <div class="row">
                             <div class="col-lg-4">
                           <div class="login-form-wrapper">
                                   <form  #updateForm="ngForm"  (ngSubmit)="validation(updateForm.value)" class="sn-form sn-form-boxed">
                             <div class="form-group">
                                 <label class="font-weight-bold">Category Name</label>
                                 <input type="text"id="categoryName" name="categoryName" class="form-control"     required [(ngModel)]="categoryName">
                                 <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                               </div>

                               <div class="form-group"  style="display: none">
                                <label class="font-weight-bold">Category Id</label>
                                <input type="text"id="categoryId" name="categoryId" class="form-control"   required [(ngModel)]="categoryId">
                                <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                              </div>
                               <div class="form-group">
                                   <label class="font-weight-bold">Description</label>
                                   <input type="text" id="description" name="description" class="form-control"   required [(ngModel)]="description">
                                   <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                                 </div>
                                 
                            <div class="form-group">
                                                               <button type="submit" id="" class="sn-button btn-block btn-lg" style="background-color: rgb(123, 187, 27)">
                                                                       <span><b>Update Category</b></span>
                                                                     </button>
                                                         </div>

                                                         <div class="form-group">
                                                         
                                                    </div>
                                                    
                            </form> 
                           <a routerLink="/viewcategory"> View category</a> &nbsp;
                          <a routerLink="/category">Add category</a>

                     </div>
                 </div>
             </div>
         </div>
   </div> 













