RIGHT CONTENT AREA
<div class="content-area">
   <div class="content-wrapper">
 
     <div class="row page-tilte align-items-center">
       <div class="col-md-auto">
         <h1 class="weight-300 h3 title">Update Banner</h1>
       </div>
     </div>
 
     <div class="content">
                 <div class="card">
                   
                     <div class="card-body">
                         <div class="row">
                             <div class="col-lg-4" style="margin-left: 10cm">
                           <div class="login-form-wrapper">
                                   <form  #updateForm="ngForm"  (ngSubmit)="validation(updateForm.value)" class="sn-form sn-form-boxed">
                             <div class="form-group">
                                 <label class="font-weight-bold">Banner Name</label>
                                 <input type="text"id="bannerName" name="bannerName" class="form-control"     required [(ngModel)]="bannerName">
                                 <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                               </div>

                               <div class="form-group"  style="display: none">
                                <label class="font-weight-bold">Banner id</label>
                                <input type="text"id="bannerId" name="bannerId" class="form-control"   required [(ngModel)]="bannerId">
                                <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                              </div>
                               <div class="form-group">
                                   <label class="font-weight-bold">Banner Area</label>
                                   <input type="text" id="bannerArea" name="bannerArea" class="form-control"   required [(ngModel)]="bannerArea">
                                   <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                                 </div>
                                 
                            <div class="form-group">
                                                               <button type="submit" id="" class="sn-button btn-block btn-lg">
                                                                       <span>UpdateBanner</span>
                                                                     </button>
                                                         </div>

                                                         <div class="form-group">
                                                         
                                                    </div>

                            </form> 
                           <a routerLink="/view-banner">
                            ViewBanner
                          </a>
                          <a routerLink="/add">
                            AddBanner
                          </a>

                     </div>
                 </div>
             </div>
         </div>
   </div> 













