<!-- 
  
 
  <div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
    <div class="login-form-wrapper">
      <form  #form="ngForm"  (ngSubmit)="validation(form.value)" class="sn-form sn-form-boxed">
        <h2 style="text-align: center"><u>Banner</u></h2>
        <div class="sn-form-inner">
          <div class="single-input">
            <h4>bannerName</h4>
            <input type="text" ngModel name="bannerName" placeholder="enter bannerName" id="bannerName">
          </div>
          <div class="single-input">
            <h4>bannerArea</h4>
            <input type="text" ngModel name="bannerArea" placeholder="enter bannerArea">
          </div>
         
  
          <div class="single-input">
            <button type="submit" class="sn-button btn-block btn-lg">
              <span>Add Banner</span>
            </button>
          </div>
        </div>
      </form>
      <a routerLink="/view-banner">
        ViewBanner  
      </a>
                </div>
              </div>
              
  
   -->



   
   <div class="content-area" style="margin-left: 7cm">
      <div class="content-wrapper">
    
        <div class="row page-tilte align-items-center">
          <div class="col-md-auto">
            <h1 class="weight-300 h3 title"><b>Add Banner</b></h1>
          </div>
        </div>
        <div class="content" style="background-color:#FFFFE0;">
          <!-- <div class="card">
              <div class="card-header">add product</div> -->
              <div class="card-body">
                  <div class="row">
                      <div class="col-lg-4">
                    <div class="login-form-wrapper">
                            <form action="/action_page.php" [formGroup]="form"  (ngSubmit)="onSubmit(form.value) && !form.valid" class="sn-form sn-form-boxed">
                             <div class="form-group">
                               <label class="font-weight-bold">Banner Name</label>

                               <input type="text"   class="form-control" formControlName="bannerName" [ngClass]="{'is-invalid':form.get('bannerName').touched && form.get('bannerName').invalid}"/>
                               <div *ngIf="form.get('bannerName').touched && form.get('bannerName').invalid" class="invalid-feedback">
                                 <div *ngIf="form.get('bannerName').errors.required">Banner Name  Required</div>
                                 <div *ngIf="form.get('bannerName').errors.pattern">Wrong Input </div>
                               </div>

                             </div>


                             
                             <div class="form-group">
                               <label class="font-weight-bold">Banner Area</label>

                               <input type="text"   class="form-control" formControlName="bannerArea" [ngClass]="{'is-invalid':form.get('bannerArea').touched && form.get('bannerArea').invalid}"/>
                               <div *ngIf="form.get('bannerArea').touched && form.get('bannerArea').invalid" class="invalid-feedback">
                                 <div *ngIf="form.get('bannerArea').errors.required">Banner Area Required</div>
                                 <div *ngIf="form.get('bannerArea').errors.pattern">Wrong Input </div>
                               </div>


                             </div>


                             <!-- <div class="form-group">
                               <label class="font-weight-bold">headerdesc</label>
                               <input type="text" id="headerdesc" name="headerdesc" class="form-control"  fromControlName="headerdesc" placeholder="Enter headerdesc" required ngModel>
                               <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                             </div>
                             <div class="form-group">
                              <label class="font-weight-bold">detaileddesc</label>
                              <input type="text" id="detaileddesc" name="detaileddesc" class="form-control"  fromControlName="detaileddesc" placeholder="Enter detaileddesc" required ngModel>
                              <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                            </div>
                          <div class="form-group">
                               <label class="font-weight-bold">discount</label>
                               <input type="number" id="discount" name="discount" class="form-control"  fromControlName="discount" placeholder="Enter discount" required ngModel>
                               <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                             </div> -->
                             <!-- <div class="form-group">
                              <label class="font-weight-bold">headerdesc</label>
                              <input type="text" id="headerdesc" name="headerdesc" class="form-control"  fromControlName="headerdesc" placeholder="Enter headerdesc" required ngModel>
                              <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                            </div> -->
                            <!-- <div class="form-group">
                              <label class="font-weight-bold">price</label>
                              <input type="number" id="price" name="price" class="form-control"  fromControlName="price" placeholder="Enter product price" required ngModel>
                              <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                            </div>
                            <div class="form-group">
                              <label class="font-weight-bold">quantity</label>
                              <input type="number" id="quantity" name="quantity" class="form-control"  fromControlName="quantity" placeholder="Enter quantity" required ngModel>
                              <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                            </div>
                            <div class="form-group">
                              <label class="font-weight-bold">sku</label>
                              <input type="number" id="sku" name="sku" class="form-control"  fromControlName="sku" placeholder="Enter sku" required ngModel>
                              <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                            </div>
                            <div class="form-group">
                              <label class="font-weight-bold">product type</label>
                              <input type="text" id="type" name="type" class="form-control"  fromControlName="type" placeholder="Enter product type" required ngModel>
                              <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                            </div>
  
                            <div class="form-group">
                              <label class="font-weight-bold">Image</label>
                              <input type="text" id="imagePath" name="imagePath" class="form-control"  fro  mControlName="imagePath" placeholder="Enter imagePath" required ngModel>
                              <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                            </div> -->
  
                             <!-- <div class="form-group">
                               <label class="font-weight-bold">Upload Product Images</label>
                               <div class="input-group mb-3">
                                   <div class="custom-file">
                                     <input type="file" class="custom-file-input"  fromControlName="path" name="path"ngModel >
                                     <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                   </div>
                                 </div>
                                 <a href="javascript:;" class="btn btn-primary btn-sm"><i class="fa fa-plus mr-2"></i>Add Image</a>
                             </div> -->
                           
                             <div class="form-group">
                             <button type="submit" [disabled]="!form.valid" id="" class="sn-button btn-block btn-lg" style="background-color:#32CD32">
                              <span><b>Add Banner</b></span></button>
                                </div>
  
                                                  
  
  
                      
                    </form> 
<!-- <a routerLink="/view-banner">ViewBanner</a>   -->
              </div>
          </div>
      </div>
        
            </div>
      </div> 
  
  
  
  
  
  
  
  
  
  
  
  
  
  