		<!-- Page Conttent -->
	

        <!-- Shopping Cart Area -->
        <div class="cart-page-area section-padding-xs bg-white">
          <div class="container">
            <h3 class="product-title" style="text-align: center">CategoryList</h3>
            
            <!-- Cart Products -->
            <div class="cart-table table-responsive">
              <table class="table table-bordered table-hover" style="width:100px;margin-left:10cm;position:relative">
                <thead>
                  
                    <tr>	
                      		
                      <th  class="cart-column-productname" scope="col">Category Name</th>
                      <th class="cart-column-price" scope="col">description</th>
                      <th class="cart-column-price" scope="col">Edit</th>
                      <th class="cart-column-price" scope="col">Delete</th>
                     
                    </tr>
                  
                </thead>  
                <tbody>
  
                  <tr *ngFor="let list of categorylist">
                   
                    <td>
                      <a href="javascript:;" class="product-title">{{list.categoryName}}</a>
                    </td>
                    <td>
                      <a href="javascript:;" class="product-title" >{{list.description}}</a>
                    </td>
                    <td>
                      <!-- <a  href="javascript:;" (click)="editcategory(list)"  class="product-title">update</a> -->
                      <a href="javascript:;"(click)="editcategory(list)"  class="btn btn-primary btn-sm mr-2" routerLink="/updatecategory">
                        <i class="fa fa-edit">edit</i>
                      </a>

                    </td>
                    <td>
                      <!-- <a href="javascript:;" (click)="delete(list.categoryId)" class="product-title">delete</a> -->
                      <a href="javascript:;" (click)="delete(list.categoryId)" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash">delete</i></a>
                    </td>
                    
                    
                   
                  </tr>
  
                </tbody>
              </table>
              <a routerLink="/category" style="margin-left:10cm">Add Category</a>
            </div>
            <!--// Cart Products -->
  
          
  
          </div>
        </div>
        <!--// Shopping Cart Area -->
  

      <!--// Page Conttent -->  