<!-- 

 
    
                           
                           <div class="login-form-wrapper">
                                   <form action="/action_page.php" #form="ngForm"  (ngSubmit)="validation(form.value)" class="sn-form sn-form-boxed">
                                    <div class="form-group">
                                      <label class="font-weight-bold">imageName</label>
                                      <input type="text" id="imageName" name="imageName" class="form-control"  fromControlName="imageName" placeholder="Enter product price" required ngModel>
                                      <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                                    </div>
                                    <div class="form-group">
                                      <label class="font-weight-bold">imagePath</label>
                                      <input type="text" id="imagePath" name="imagePath" class="form-control"  fromControlName="imagePath" placeholder="Enter imagePath" required ngModel>
                                      <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                                    </div>
                                    <div class="form-group">
                                      <label class="font-weight-bold">header</label>
                                      <input type="text" id="header" name="header" class="form-control"  fromControlName="header" placeholder="Enter header" required ngModel>
                                      <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                                    </div>
                                    

                                  
                                      
                                    <div class="form-group">
                                      <label class="font-weight-bold">desc1</label>
                                      <input type="text" id="desc1" name="desc1" class="form-control"  fromControlName="desc1" placeholder="Enter desc1" required ngModel>
                                      <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label class="font-weight-bold">desc2</label>
                                      <input type="text" id="desc2" name="desc2" class="form-control"  fromControlName="desc2" placeholder="Enter desc2" required ngModel>
                                      <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label class="font-weight-bold">desc3</label>
                                      <input type="text" id="desc3" name="desc3" class="form-control"  fromControlName="desc3" placeholder="Enter desc3" required ngModel>
                                      <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                                    </div>
                                      
                                    <div class="form-group">
                                      <label class="font-weight-bold">desc4</label>
                                      <input type="text" id="desc4" name="desc4" class="form-control"  fromControlName="desc4" placeholder="Enter desc3" required ngModel>
                                      <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                                    </div>
                                    <div class="form-group">
                                      <label class="font-weight-bold">createdDate</label>
                                      <input type="datetime-local" id="createdDate" name="createdDate" class="form-control"  fromControlName="createdDate" placeholder="Enter createdDate" required ngModel>
                                      <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                                    </div>
                                    <div class="form-group">
                                      <label class="font-weight-bold">modifiedDate</label>
                                      <input type="datetime-local" id="modifiedDate" name="modifiedDate" class="form-control"  fromControlName="modifiedDate" placeholder="Enter modifiedDate" required ngModel>
                                      <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                                    </div>
                                  
                                    <div class="form-group">
                                                               <button type="submit" id="" class="sn-button btn-block btn-lg">
                                                                       <span>Add Image</span>
                                                                     </button>
                                                         </div>

                                                         


                             
                           </form> 
                            

                     </div>
                 
             
         -->

<!-- 
         <div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
          <div class="login-form-wrapper">
            <form  #Form="ngForm"  (ngSubmit)="validation(Form.value)" class="sn-form sn-form-boxed">
              <h2 style="text-align: center"><u>Image</u></h2>
              <div class="sn-form-inner">
                <div class="single-input">
                  <h4>imageName</h4>
                  <input type="text" ngModel name="imageName" placeholder="enter imageName" id="imageName">
                </div>
                <div class="single-input">
                  <h4>imagePath</h4>
                  <input type="text" ngModel name="imagePath" placeholder="enter imagePath" id="imagePath">
                </div>
                <div class="single-input">
                  <h4>header</h4>
                  <input type="text" ngModel name="header" placeholder="enter header" id="header">
                </div>
                <div class="single-input">
                  <h4>desc1</h4>
                  <input type="text" ngModel name="desc1" placeholder="enter desc1" id="desc1">
                </div>
                <div class="single-input">
                  <h4>desc2</h4>
                  <input type="text" ngModel name="desc2" placeholder="enter desc2" id="desc2">
                </div>
                <div class="single-input">
                  <h4>desc3</h4>
                  <input type="text" ngModel name="desc3" placeholder="enter desc3" id="desc3">
                </div>
                <div class="single-input">
                  <h4>desc4</h4>
                  <input type="text" ngModel name="desc4" placeholder="enter desc4" id="desc4">
                </div>
                <div class="single-input">
<h4>select the bannerArea</h4>
<select id="bannerArea" name="bannerArea"  ngModel>  
                    <option *ngFor="let banner of bannerlist" >{{banner.bannerArea}}</option>
                  </select>
                </div>
               
               
        
                <div class="single-input">
                  <button type="submit" class="sn-button btn-block btn-lg">
                    <span>Add Image</span>
                  </button>
                </div>
              </div>
            </form>
                      </div>
                    </div>
                     -->
        
   <div class="content-area" style="margin-left: 7cm">
    <div class="content-wrapper">
  
      <div class="row page-tilte align-items-center">
        <div class="col-md-auto">
          <h1 class="weight-300 h3 title"><b>Add Image</b></h1>
        </div>
      </div>
      <div class="content" style="background-color:#FFFFE0;text-align: center">
        <!-- <div class="card">
            <div class="card-header">add product</div> -->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                  <div class="login-form-wrapper">
                          <form  [formGroup]="form" (ngSubmit)="onSubmit(form.value)&& !form.valid" class="sn-form sn-form-boxed">
                           <div class="form-group">
                             <label class="font-weight-bold">Image Name</label>

                             <input type="text"   class="form-control" formControlName="imageName" [ngClass]="{'is-invalid':form.get('imageName').touched && form.get('imageName').invalid}"/>
                          <div *ngIf="form.get('imageName').touched && form.get('imageName').invalid" class="invalid-feedback">
                            <div *ngIf="form.get('imageName').errors.required">Image Name  Required</div>
                            <div *ngIf="form.get('imageName').errors.pattern">Wrong Input </div>
                          </div>

                           </div>
                           <div class="form-group">
                             <label class="font-weight-bold">Image Path</label>
                             <input type="text"   class="form-control" formControlName="imagePath" [ngClass]="{'is-invalid':form.get('imagePath').touched && form.get('imagePath').invalid}"/>
                             <div *ngIf="form.get('imagePath').touched && form.get('imagePath').invalid" class="invalid-feedback">
                               <div *ngIf="form.get('imagePath').errors.required">Image Path  Required</div>
                             </div>
                             </div>

                           <div class="form-group">

                            <label class="font-weight-bold">Header</label>
                            <input type="text"   class="form-control" formControlName="header" [ngClass]="{'is-invalid':form.get('header').touched && form.get('header').invalid}"/>
                            <div *ngIf="form.get('header').touched && form.get('header').invalid" class="invalid-feedback">
                              <div *ngIf="form.get('header').errors.required">Header Required</div>
                              <div *ngIf="form.get('header').errors.pattern">Wrong Input </div>
                            </div>

                          </div>
                          <div class="form-group">
                            <label class="font-weight-bold">Desc1</label>

                            <input type="text"   class="form-control" formControlName="descA" [ngClass]="{'is-invalid':form.get('descA').touched && form.get('descA').invalid}"/>
                          <div *ngIf="form.get('descA').touched && form.get('descA').invalid" class="invalid-feedback">
                            <div *ngIf="form.get('descA').errors.required">Description  Required</div>
                            <div *ngIf="form.get('descA').errors.pattern">Wrong Input </div>
                          </div>

                          </div>
                          <div class="form-group">
                            <label class="font-weight-bold">Desc2</label>

                            <input type="text"   class="form-control" formControlName="descB" [ngClass]="{'is-invalid':form.get('descB').touched && form.get('descB').invalid}"/>
                          <div *ngIf="form.get('descB').touched && form.get('descB').invalid" class="invalid-feedback">
                            <div *ngIf="form.get('descB').errors.required">Description Required</div>
                            <div *ngIf="form.get('descB').errors.pattern">Wrong Input </div>
                          </div>

                          </div>
                          <div class="form-group">
                            <label class="font-weight-bold">Desc3</label>

                            <input type="text"   class="form-control" formControlName="descC" [ngClass]="{'is-invalid':form.get('descC').touched && form.get('descC').invalid}"/>
                          <div *ngIf="form.get('descC').touched && form.get('descC').invalid" class="invalid-feedback">
                            <div *ngIf="form.get('descC').errors.required">Description Required</div>
                            <div *ngIf="form.get('descC').errors.pattern">Wrong Input </div>
                          </div>

                          </div>
                          <div class="form-group">
                            <label class="font-weight-bold">Desc4</label>

                            <input type="text"   class="form-control" formControlName="descD" [ngClass]="{'is-invalid':form.get('descD').touched && form.get('descD').invalid}"/>
                          <div *ngIf="form.get('descD').touched && form.get('descD').invalid" class="invalid-feedback">
                            <div *ngIf="form.get('descD').errors.required">Description Required</div>
                            <div *ngIf="form.get('descD').errors.pattern">Wrong Input </div>
                          </div>

                          </div>
                          <div class="form-group">
                            <label class="font-weight-bold" >Select Banner Area</label>
                            <select id="bannerArea" name="bannerArea" class="form-control" formControlName="bannerArea" >  
                                <option value=""disabled selected>Choose Banner Area</option>
                              <option *ngFor="let banner of bannerlist" >{{banner.bannerArea}}</option>
                            </select>
                          </div>
                           <!-- <div class="form-group">
                             <label class="font-weight-bold">headerdesc</label>
                             <input type="text" id="headerdesc" name="headerdesc" class="form-control"  fromControlName="headerdesc" placeholder="Enter headerdesc" required ngModel>
                             <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                           </div>
                           <div class="form-group">
                            <label class="font-weight-bold">detaileddesc</label>
                            <input type="text" id="detaileddesc" name="detaileddesc" class="form-control"  fromControlName="detaileddesc" placeholder="Enter detaileddesc" required ngModel>
                            <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                          </div>
                        <div class="form-group">
                             <label class="font-weight-bold">discount</label>
                             <input type="number" id="discount" name="discount" class="form-control"  fromControlName="discount" placeholder="Enter discount" required ngModel>
                             <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                           </div> -->
                           <!-- <div class="form-group">
                            <label class="font-weight-bold">headerdesc</label>
                            <input type="text" id="headerdesc" name="headerdesc" class="form-control"  fromControlName="headerdesc" placeholder="Enter headerdesc" required ngModel>
                            <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                          </div> -->
                          <!-- <div class="form-group">
                            <label class="font-weight-bold">price</label>
                            <input type="number" id="price" name="price" class="form-control"  fromControlName="price" placeholder="Enter product price" required ngModel>
                            <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                          </div>
                          <div class="form-group">
                            <label class="font-weight-bold">quantity</label>
                            <input type="number" id="quantity" name="quantity" class="form-control"  fromControlName="quantity" placeholder="Enter quantity" required ngModel>
                            <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                          </div>
                          <div class="form-group">
                            <label class="font-weight-bold">sku</label>
                            <input type="number" id="sku" name="sku" class="form-control"  fromControlName="sku" placeholder="Enter sku" required ngModel>
                            <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                          </div>
                          <div class="form-group">
                            <label class="font-weight-bold">product type</label>
                            <input type="text" id="type" name="type" class="form-control"  fromControlName="type" placeholder="Enter product type" required ngModel>
                            <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                          </div>

                          <div class="form-group">
                            <label class="font-weight-bold">Image</label>
                            <input type="text" id="imagePath" name="imagePath" class="form-control"  fro  mControlName="imagePath" placeholder="Enter imagePath" required ngModel>
                            <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                          </div> -->

                           <!-- <div class="form-group">
                             <label class="font-weight-bold">Upload Product Images</label>
                             <div class="input-group mb-3">
                                 <div class="custom-file">
                                   <input type="file" class="custom-file-input"  fromControlName="path" name="path"ngModel >
                                   <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                 </div>
                               </div>
                               <a href="javascript:;" class="btn btn-primary btn-sm"><i class="fa fa-plus mr-2"></i>Add Image</a>
                           </div> -->
                         
                           <div class="form-group">
                                                      <button type="submit" [disabled]="!form.valid" class="sn-button btn-block btn-lg" style="background-color:#32CD32">
                                                              <span><b>Add Image</b></span>
                                                            </button>
                                                </div>

                                                
<a routerLink="/viewimage">View Image</a>

                    
                  </form> 
                   

            </div>
        </div>
    </div>
      
          </div>
    </div> 





        