	
	

     
        <div class="cart-page-area section-padding bg-white">
            <div class="container" style="margin-left: 5cm">
              <h3 class="product-title" style="margin-left: 10cm"><b>Image</b></h3>
             
              <div class="cart-table table-responsive">
                <table class="table table-bordered table-hover" style="width:10cm;margin-left:3cm ;background-color: #FFFFE0">
                  <thead>
                    
                      <tr>	
                            
                        <th  class="cart-column-productname" scope="col">Image Name</th>
                        <!-- <th class="cart-column-price" scope="col">image</th> -->
                        <th class="cart-column-price" scope="col">Image Path</th>
                        <th class="cart-column-price" scope="col">Header</th>
                        <th  class="cart-column-productname" scope="col">Desc1</th>
                        <th class="cart-column-price" scope="col">Desc2</th>
                        <th class="cart-column-price" scope="col">Desc3</th>
                        <th class="cart-column-price" scope="col">Desc4</th>
                        <th class="cart-column-price" scope="col">Edit</th>
                        <th class="cart-column-price" scope="col">Delete</th>
                       
                      </tr>
                    
                  </thead>  
                  <tbody>
    
                    <tr *ngFor="let list of imagelist">
                     
                      <td>
                        <a href="javascript:;" class="product-title">{{list.imageName}}</a>
                      </td>
                      <!-- <td>
                        <a href="javascript:;" class="product-title">{{list.image}}</a>
                      </td> -->
                      <td>
                          <a href="javascript:;" class="product-title">{{list.imagePath}}</a>
                        </td>
                        <td>
                          <a href="javascript:;" class="product-title">{{list.header}}</a>
                        </td>
                        <td>
                            <a href="javascript:;" id="desc" class="product-title">{{list.desc1}}</a>
                          </td>
                          <td>
                            <a href="javascript:;" id="desc" class="product-title">{{list.desc2}}</a>
                          </td>
                          <td>
                              <a href="javascript:;" id="desc" class="product-title">{{list.desc3}}</a>
                            </td>
                            <td>
                              <a href="javascript:;" id="desc" class="product-title">{{list.desc4}}</a>
                            </td>
                            <!-- <td>
                                <a href="javascript:;"  (click)="editImage(list)" class="product-title">edit</a>
                              </td>
                              <td>
                                <a href="javascript:;" (click)="delete(list.imageId)"   class="product-title">delete</a>
                              </td> -->
                                    
                              <td>
                                <!-- <a  (click)="editUser(list)" href="javascript:;" class="product-title">edit</a> -->
                                <a href="javascript:;"(click)="editImage(list)"  class="btn btn-primary btn-sm mr-2" routerLink="/image">
                                  <i class="fa fa-edit">edit</i>
                                </a>
                             
                              </td>
                              <td>
                                <!-- <a href="javascript:;" (click)="delete(list.bannerId)" class="product-title">delete</a> -->
                                <a href="javascript:;" (click)="delete(list.imageId)" class="btn btn-danger btn-sm">
                                  <i class="fa fa-trash">Delete</i></a>
                              </td>
                      
                     
                    </tr>
    
                  </tbody>
                </table>
                <a routerLink="/add-image" style="margin-left: 10cm;border-style:none"><button class="btn btn-lg btn-success" style="background-color:#32CD32"><b>Add Image</b></button></a>
              </div>
            
    
            
    
            </div>
          </div>
         