<!-- RIGHT CONTENT AREA
<div class="content-area" style="margin-left: 7cm">
    <div class="content-wrapper">
  
      <div class="row page-tilte align-items-center">
        <div class="col-md-auto">
          <h1 class="weight-300 h3 title"><b>Products</b></h1>
        </div>
      </div>
  
      <div class="content" style="background-color:#FFFFE0">
  
  
        <div class="row">
          <div class="col-lg-12">
            <div class="card mb-4">
              <div class="card-header">View Products</div>
              <div class="card-body table-responsive">
  
                <table id="products" class="table table-striped mb-4 bg-white table-bordered">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Code</th>
                      <th>Description</th>
                      <th>Price</th>
                      <th>Stock</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Kanchipuram</td>
                      <td>KSP00123</td>
                      <td>Blue Kanchipuram Silk Saree with Zari Butta on the body and Zari Border. Includes unstitched blouse.</td>
                      <td>₹ 14,026.00</td>
                      <td>10</td>
                      <td>
                        <a href="javascript:;" class="btn btn-primary btn-sm mr-2">
                          <i class="fa fa-edit"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-danger btn-sm">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                        <td>Kanchipuram</td>
                        <td>KSP00123</td>
                        <td>Blue Kanchipuram Silk Saree with Zari Butta on the body and Zari Border. Includes unstitched blouse.</td>
                        <td>₹ 14,026.00</td>
                        <td>20</td>
                        <td>
                          <a href="javascript:;" class="btn btn-primary btn-sm mr-2">
                            <i class="fa fa-edit">edit</i>
                          </a>
                          <a href="javascript:;" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash">delete</i>
                          </a>
                        </td>
                      </tr>
                  </tbody>
                </table>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->