RIGHT CONTENT AREA
<div class="content-area">
   <div class="content-wrapper">
 
     <div class="row page-tilte align-items-center">
       <div class="col-md-auto">
         <h1 class="weight-300 h3 title" style="margin-left:11cm;text-align:center">Update Products</h1>
       </div>
     </div>
     <div class="content">
       <div class="card" style="background-color: rgb(253, 244, 203)">
           
           <div class="card-body">
               <div class="row" style="margin-left:10cm">
                   <div class="col-lg-4">
                 <div class="login-form-wrapper">
                         <form action="/action_page.php" #Form="ngForm"  (ngSubmit)="validation(Form.value)" class="sn-form sn-form-boxed">
                          <div class="form-group"  style="display: none">
                            <label class="font-weight-bold">Product Id</label>
                            <input type="text"id="productId" name="productId" class="form-control"   required [(ngModel)]="productId">
                            <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                          </div>
                       <div class="form-group">
                            <label class="font-weight-bold">Discount</label>
                            <input type="number" id="discount" name="discount" class="form-control"  fromControlName="discount" placeholder="Enter discount" required [(ngModel)]="discount">
                            <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                          </div>
                         <div class="form-group">
                           <label class="font-weight-bold">Price</label>
                           <input type="number" id="price" name="price" class="form-control"  fromControlName="price" placeholder="Enter product price" required [(ngModel)]="price">
                           <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                         </div>
                         <div class="form-group">
                           <label class="font-weight-bold">Quantity</label>
                           <input type="number" id="quantity" name="quantity" class="form-control"  fromControlName="quantity" placeholder="Enter quantity" required [(ngModel)]="quantity">
                           <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                         </div>
                         <div class="form-group">
                           <label class="font-weight-bold">SKU</label>
                           <input type="text" id="sku" name="sku" class="form-control"  fromControlName="sku" placeholder="Enter sku" required [(ngModel)]="sku">
                           <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                         </div>
                         <div class="form-group">
                           <label class="font-weight-bold">Material Type</label>
                           <input type="text" id="materialType" name="materialType" class="form-control"  fromControlName="materialType" placeholder="Enter materialType" required [(ngModel)]="materialType">
                           <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                         </div>
                         <div class="form-group">
                           <label class="font-weight-bold">Collection Desc</label>
                           <input type="text" id="collectionDesc" name="collectionDesc" class="form-control"  fromControlName="collectionDesc" placeholder="Enter collectionDesc" required [(ngModel)]="collectionDesc">
                           <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                         </div>
                         <div class="form-group">
                           <label class="font-weight-bold">Colors</label>
                           <input type="text" id="colors" name="colors" class="form-control"  fromControlName="colors" placeholder="Enter colors" required [(ngModel)]="colors">
                           <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                         </div>
                         <div class="form-group">
                           <label class="font-weight-bold">Fabric Purity</label>
                           <input type="text" id="fabricPurity" name="fabricPurity" class="form-control"  fromControlName="fabricPurity" placeholder="Enter fabricPurity" required [(ngModel)]="fabricPurity">
                           <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                         </div>
                         <div class="form-group">
                           <label class="font-weight-bold">Pattern</label>
                           <input type="text" id="pattern" name="pattern" class="form-control"  fromControlName="pattern" placeholder="Enter pattern" required [(ngModel)]="pattern">
                           <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                         </div>
                         <div class="form-group">
                           <label class="font-weight-bold">Border</label>
                           <input type="text" id="border" name="border" class="form-control"  fromControlName="border" placeholder="Enter border" required [(ngModel)]="border">
                           <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                         </div>
                         <div class="form-group">
                           <label class="font-weight-bold">Border Type</label>
                           <input type="text" id="borderType" name="borderType" class="form-control"  fromControlName="borderType" placeholder="Enter borderType" required [(ngModel)]="borderType">
                           <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                         </div>
                         <div class="form-group">
                           <label class="font-weight-bold">Zari Type</label>
                           <input type="text" id="zariType" name="zariType" class="form-control"  fromControlName="zariType" placeholder="Enter zariType" required [(ngModel)]="zariType">
                           <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                         </div>
                         <div class="form-group">
                           <label class="font-weight-bold">Length</label>
                           <input type="number" id="length" name="length" class="form-control"  fromControlName="length" placeholder="Enter length" required [(ngModel)]="length">
                           <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                         </div>
                         <div class="form-group">
                           <label class="font-weight-bold">Blouse</label>
                           <input type="text" id="blouse" name="blouse" class="form-control"  fromControlName="blouse" placeholder="Enter blouse" required [(ngModel)]="blouse">
                           <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                         </div>
                         <div class="form-group">
                           <label class="font-weight-bold">Blouse Color</label>
                           <input type="text" id="blouseColor" name="blouseColor" class="form-control"  fromControlName="blouseColor" placeholder="Enter blouseColor" required [(ngModel)]="blouseColor">
                           <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                         </div>
                         <div class="form-group">
                           <label class="font-weight-bold">Blouse Length</label>
                           <input type="number" id="blouseLength" name="blouseLength" class="form-control"  fromControlName="blouseLength" placeholder="Enter blouseLength" required [(ngModel)]="blouseLength">
                           <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                         </div>
                         <div class="form-group">
                           <label class="font-weight-bold">Occassion</label>
                           <input type="text" id="occassion" name="occassion" class="form-control"  fromControlName="occassion" placeholder="Enter occassion" required [(ngModel)]="occassion">
                           <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                         </div>
                        

                         <div class="form-group">
                           <label class="font-weight-bold">Main Image Url</label>
                           <input type="text" id="" name="mainImageUrl" class="form-control"  fromControlName="mainImageUrl" placeholder="Enter mainImageUrl" required [(ngModel)]="mainImageUrl">
                           <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                         </div>
                         <!-- <div class="form-group">
                           <label class="font-weight-bold">otherImageUrls</label>
                           <input type="text" id="" name="otherImageUrls" class="form-control"  fromControlName="otherImageUrls" placeholder="Enter otherImageUrls" required [(ngModel)]="otherImageUrls">
                           <small id="emailHelp" class="invalid-feedback">Field can't be empty</small>
                         </div> -->

                       
                   <div class="form-group">
                    <button type="submit" style="background-color: rgb(143, 238, 66)" class="sn-button btn-block btn-lg">
                    <span><b>Update Product</b></span></button>
                  </div>
 
                 </form> 
                  

           </div>
       </div>
   </div>
     
         </div>
   </div> 













