		<!-- Page Conttent -->
	

        <!-- Shopping Cart Area -->
        <div class="cart-page-area section-padding-xs bg-white">
          <div class="container">
  
            <h3 class="product-title" style="margin-left: 8cm">Banner</h3>
            
            <!-- Cart Products -->
            <div class="cart-table table-responsive">
              <table class="table table-bordered table-hover" style="margin-left:8cm;width:20cm">
                <thead >
                  
                    <tr>	
                      		
                      <th  class="cart-column-productname" scope="col">Banner Name</th>
                      <th class="cart-column-price" scope="col">Banner Area</th>
                      <th class="cart-column-price" scope="col">Edit</th>
                      <th class="cart-column-price" scope="col">Delete</th>
                     
                    </tr>
                  
                </thead>  
                <tbody>
  
                  <tr *ngFor="let list of bannerlist">
                   
                    <td>
                      <a href="javascript:;" class="product-title">{{list.bannerName}}</a>
                    </td>
                    <td>
                      <a href="javascript:;" class="product-title">{{list.bannerArea}}</a>
                    </td>
                    <td>
                      <!-- <a  (click)="editUser(list)" href="javascript:;" class="product-title">edit</a> -->
                      <a href="javascript:;"(click)="editUser(list)"  class="btn btn-primary btn-sm mr-2">
                        <i class="fa fa-edit">edit</i>
                      </a>
                   
                    </td>
                    <td>
                      <!-- <a href="javascript:;" (click)="delete(list.bannerId)" class="product-title">delete</a> -->
                      <a href="javascript:;" (click)="delete(list.bannerId)" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash">delete</i></a>
                    </td>
                    
                    
                   
                  </tr>
  
                </tbody>
              </table>
              <a routerLink="/add" style="margin-left: 10cm;border-style:none;"><button style="background-color: #32CD32"><b>Add Banner</b></button></a>
            </div>
            <!--// Cart Products -->
  
          
  
          </div>
        </div>
        <!--// Shopping Cart Area -->
  

      <!--// Page Conttent -->  